@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Days+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&family=Days+One&display=swap');

/*Cores
#80C805
#044107

Logo #C1EA00

gradiente em

#05590A - #08890F Coletado do HUB
*/

/*Fonte*/

/*Mediaqueries*/

*{
    margin: 0px;
    padding: 0px;
    
    
}

html, body{
    background-color: #ABD7AE;
    width: 98vw;
    height: 96vh;
    font-family: "Catamaran", sans-serif;

}

main{
    width: 100%;
    height: 100%;
    
}


section{
    
    width: 70vw;
    min-width: 330px;
    height: 70vh;
    min-height: 500px;
    position: relative;
    top: 50%;
    left: 50%;
    box-shadow: 1px 1px 14px 0px #000000c7;
    
    transform: translate(-50%, -50%);
    border-radius: 10px;

    transition: width .5s, height .5s;
    
    
    
}

div{
    position: absolute;
    
    top: 50%;
    left: 50%;
    
    
    transform: translate(-50%, -50%);

}


h1{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: "Days One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #044107;
    font-size: 3em;
    letter-spacing: 5px;
    
}

#cor1{
    
    width: 100%;
    height: 100%;
   
    background-image: url('../Imagens/Designer.jpeg'); /*Faltou o '..'*/
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    border-radius: 10px;
   
}

#cor2{
    
    background-color: rgba(255, 255, 255, 0.911);
    width: 95%;
    height: 75%;
    min-height: 350px;
    border-radius: 10px;

    
}

#menor{

    display: block;
    margin-top: 30px;
    width: 60px;
    height: 25px;
    text-indent: 0px;
    font-weight: 700;
    border: 2px #0449079c solid;
    color: #022904;
    background-color: rgba(255, 255, 255, 0.911);
}

#menor:hover{
    border-color: #07640b;
    border-width: 3px;
    border-style: solid;
}


p#paragrafologin{
    

    font-size: 1.0em;
    margin: 25px 10px;

    font-weight: 500;
    font-style: normal;
}

label{
    margin: 0px 10px ;
    font-weight: 500;
    display: block;
}



input{
    
    margin-left: 10px;
    border-radius: 5px;
    text-indent: 5px;
    height: 20px;
    background-color: rgba(255, 255, 255, 0.911);
    border-width: 2px;

    transition: width .5s, height .5s;
    transition-timing-function: ease; /* da uma suavizada na animação*/
}



.estilizando{
    border-color: #0449079c;
    border-style: solid;
}

.intout{
   
    border-color: #07640b;
    border-width: 3px;
    border-style: solid;
}

