/*Extra small devices (phones, 600px and down) 
@media only screen and (max-width: 600px) {...}

Small devices (portrait tablets and large phones, 600px and up) 
@media only screen and (min-width: 600px) {...}

Medium devices (landscape tablets, 768px and up) 
@media only screen and (min-width: 768px) {...}

Large devices (laptops/desktops, 992px and up) 
@media only screen and (min-width: 992px) {...}

Extra large devices (large laptops and desktops, 1200px and up) 

@media only screen and (min-width: 1200px) {...}*/

@media only screen and (min-width: 768px) and (max-width: 992px) {

    body, html{
        width: 100vw;
        height: 100vh;
        background-image: linear-gradient( to top, #c3dac4, #c0af9f );
        background-repeat: no-repeat;
        
        
    }
    main{
        width: 98%;
        height: 96%;
    }
    section{
        
        max-width: 750px;
    }
    form label{
        font-size: 1.2em;
    }
    
    form > p#paragrafologin {
        font-size: 1.2em;
    }
    input{
        width: 225px;
        height: 25px;
       
        
    }
    

    input#menor{
        width: 90px;
    }

    input#menor:hover{
        width: 120px;
        height: 25px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px){
    body, html{
        width: 100vw;
        height: 100vh;
        background-image: linear-gradient( to top, #c3dac4, #c0af9f );
        background-repeat: no-repeat;
        
        
    }
    main{
        width: 98%;
        height: 96%;
    }
}

section {
    max-width: 750px;
}

form label {
    font-size: 1.2em;
}

form > p#paragrafologin {
    font-size: 1.2em;
}

input{
    width: 225px;
    height: 25px;
}

input#menor{
    width: 90px;
}

input#menor:hover{
    width: 120px;
    height: 25px;
}